.body
  .side-menu
    .side-menu__area
      .post__btn__text
        画像を投稿！    
      = link_to "posts/new", class: "post__btn" do
        = icon('fas', 'camera') 
  .main-menu         
    .search-menu
      .search
        .search-form
          .search-input
    .post-new
      - @posts.each do |post|
        .post-new__text
          = post.text
        .post-new__date
          = post.created_at.strftime("%Y年%m月%d日 %H時%M分")
        .post-new__image
          = image_tag(post.image.to_s) if post.image?
        .post-new__details
          詳細
        = link_to "削除", post, method: :delete, class: "post-new__delete"
        .post-new__edit
          編集