.send-area
  .body
    = form_with model: @post, class: "form",local: true do |f|
      .form__contents
        %p 新規投稿
        生き物の名前がわからない時は『教えて！』と入力しよう
        = f.text_field :text, class: 'form__inputContent', placeholder: "生き物の名前を入力(空欄不可)"
        = f.label :image, class: 'form__inputImage' do
          = icon('far', 'image', class: 'form__icon')
          = f.file_field :image, class: 'hidden'
        %button{type: "submit", class:'form__submit'}   
          %i.fas.fa-paper-plane
          .letter
            投稿